body{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: black;
}
body.light{
    background-color: #f0f0f0;
    color: #000;
}
body.light .calculator{
    background-color: #bababa;
}
body.light .display{
    background-color: #4c4848;
    color: #f0f0f0;
}
body.light .title{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 50px;
}
body.light button{
    background-color: #ddd;
    color: rgb(0, 0, 0);
}
body.light button:hover{
    background-color: #848484; 
}
body.light button:active{
    background-color: rgb(213, 213, 213);
}
#toggle1{
    position: absolute;
    top: 20px;
    left: 20px;
}

.title{
    text-align: center;
    color: aliceblue;
    font-size: 50px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title1{
    text-align: left;
    color: rgb(126, 126, 126);
}

.calculator{
    margin-top: 10px;
    padding: 20px;
    padding-top: 10px;
    
    border: none;
    border-radius: 20px;
    background-color: rgb(43, 43, 43);
    width: 300px;

}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.display{
    margin-bottom: 25px;
    text-align: right;
    padding: 10px;
    height: 30px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    border-radius: 10px;
    width: 93%;
    color: black;
}
button{
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: rgb(118, 117, 117);
    font-size: 25px;
    color: aliceblue;
}
button:hover{
    background-color: rgb(200, 195, 195);
}
button:active{
    background-color: rgb(109, 109, 109);
}